<div class="form-group">
  <%= f.label :content, "Comment", class: "control-label" %>
  <div>
    <%= f.text_area :content, class: "form-control" %>
  </div>
</div>


<p><%= f.submit "Submit", class: "btn btn-default btn-primary" %></p>
